* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    display: flex;
}

.left {
    width: 50%;
    height: 120vh;
    background-color: #C4C4C4;
}

.right {
    width: 50%;
    height: 120vh;
    background-color: rgb(20, 20, 20);
}

.nav-left {
    display: flex;
    justify-content: space-between;  
    margin-left: 2rem;
    margin-right: 5rem;
    margin-top: 0rem;
}

.nav-imgs {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    gap: 2rem;
    position: relative;
    top: 2.2rem;
}

.maleuser-img {
    position: relative;
    top: 0.35rem;
}

.nav-imgs img {
    width: 3rem;
    height: 3rem;
}

.circle {
    background-color: black;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0.5rem;
    right: 1rem;
}

.circle-text {
    color: white;
    font-size: 1rem;
}

.back-nav {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0.75rem;
}

.click {
    width: 4rem;
    color: rgb(10, 10, 10);
    position: relative; 
    top: 1.3rem;
    left: 1rem;
}

.adidas-shoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    width: 80%;
    background-color: #f2efe5;
    margin: auto;
    margin-top: 8vh;
    border-radius: 1rem;
}

.adidas-shoes img {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

.shoes {
    background-color: #d1d1d1;
    width: 90%;
    height: 21%;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin: 0.3rem;
}

.divisor {
    background-color: black;
    width: 1px;
    height: 80%;
    margin-right: 1.75rem;
}

.title-shoes {
    position: absolute;
}

.size-and-qty {
    display: flex;
    gap: 40%;
    margin-top: 5vh;
}

.color-and-price {
    display: flex;
    gap: 11.3%;
    position: relative;
    top: 1rem;
}

.color-img {
    position: relative;
    width: 2.5vw;
    rotate: calc(90deg);
    right: 2rem;
    bottom: 1vh;
}

.color {
    display: flex;
}

.qty {
    position: relative;
    left: 4rem;
}

.qty-span {
    background-color: white;
    margin: 0.3rem;
    font-weight: bold;
}

.qty-separation {
    position: relative;
    left: 2.25rem;
}

.basic-span {
    margin-left: 2.2rem;
}

.color-circle {
    margin-left: 1rem;
}

.total-price {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0.5rem;
    left: 10%;
}

.price {
    position: relative;
    left: 4rem;
}

.price-total {
    background-color: #a3a3a3;
}

.total-price {
    font-size: 2rem;
}

.img-button {
    height: 2.5vw;
    position: relative;
    right: 2rem;
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.cancel-button, 
.checkout-button {
    border-radius: 3%;
    width: 30%;
    height: 8vh;
    border: none;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.7rem;
    font-weight: bold;
}

.cancel-button {
    background-color: #EC1B1B;
}

.checkout-button {
    background-color: #3F9EF7;
}

.right-nav {
    display: flex;
    margin-top: 3rem;
    margin-left: 5rem;
    gap: 50%;
}

.nav-title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.menu-title {
    color: white;
    font-weight: bold;
}

.menu-img {
    height: 7vh;
}

.diamond {
    transform: rotate(45deg);
}

.first-pair {
    display: flex;
    margin-top: 0.1rem; 
    gap: 0.1rem;
}

.second-pair {
    display: flex;
    margin-top: 0.05rem;
    gap: 0.1rem;
    position: relative;
}

.square {
    width: 0.4rem;
    height: 0.4rem;
    background-color: rgb(89, 29, 132);
}

.component-and-checkout {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 20%;
    margin-top: 2rem;
}

.component {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0.5rem;
}

.component-title {
    color: rgb(89, 29, 132);
    font-size: 1.25rem;
}

.checkout-title {
    color: white;
    font-size: 2.25rem;
    margin-top: 1vh;
}

.checkout-divisor {
    margin-top: 1vh;
    height: 0.25vh;
    width: 125%;
    background-color: white;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10rem;
    left: 3rem;
    flex-direction: column;
}

.card-img {
    position: relative;
    height: 27rem;
}

.three-methods {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 8%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pay-with {
    margin-left: 8.5rem;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 3rem;
}

.help,
.payments-secured {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.right-footer {
    display: flex;
    gap: 10rem;
    position: relative;
    right: 2.1rem;
    top: 2rem;
}
